.container{
    display: block;
    width:340px;
    height: 300px;
    border: 1px solid rgb(192, 190, 190);
    border-radius:20px;
    padding:20px;
}
h1{
   text-align:center;
   color: rgb(75, 72, 72);
}

.form{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:20px;
}

.input{
    margin:10px;
    width:200px;
    height:30px;
    border-radius: 10px;
    border-style:dashed;
    outline: none;
}

.input:focus{
    border-style:double;
}

.boton{
    margin-top:40px;
    padding:10px;
    width:200px;
    cursor: pointer;
    background-color: #4d73fa;
    border-radius: 10px;
   border:1px solid #8a8a8d;
   color: #fff;
}