.container{
    display: block;
    width:340px;
    height: 300px;
    border: 1px solid rgb(192, 190, 190);
    border-radius:20px;
    padding:20px;
}
h1{
   text-align:center;
   color: rgb(75, 72, 72);
}

.form{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:20px;
}

.input{
    margin:10px;
    width:200px;
    height:30px;
    border-radius: 10px;
    border-style:dashed;
    outline: none;
    padding: 5px;
}

.input:focus{
    border-style:double;
}

.botones{
    margin-top:40px;
    padding:10px;
    width:200px;
    cursor: pointer;
    background-color: #4d73fa;
    border-radius: 10px;
   border:1px solid #8a8a8d;
   color: #fff;
}

.img{
    width:55px;
    height:60px;
    margin:20px;
    border-radius: 20px;
}

.boton{
    width:150px;
    height:100px;
    margin:5px;
    border-radius: 100%;
    border:solid 5px #4d73fa;
    

}



.agra{
    width:20px;
    height:20px;
    cursor: pointer;
    border-radius:100%;

}

.agra:focus{
    background-color: #4d73fa;
}

.conte{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 20px;
}
.contenedorModal{
display: flex;
justify-content:center;
align-items:center;
flex-wrap: wrap;
background-color: #fff;
width:650px;
height:550px;
border-radius:20px;
}

.modalito{
    display: flex;
    justify-content:center;
    align-items:center;
}
.cerra{
    width:90px;
    height:40px;
    cursor: pointer;
    margin-left: 100px;
}

