
.container{
width:1200px;
height:100vh;
display: flex;
justify-content:center;
align-items:center;

}

.izquierdo{
    width:50%;
    height:90%;
    background-color: rgb(37, 103, 189);
    overflow-x:hidden;
   scroll-behavior:inherit;
   border:1px solid rgb(197, 197, 197);
   border-radius: 20px 0px 0px 20px;
   
}

.derecho{
    width:80%;
    max-width: 740px;
    height:90%;
    display: flex;
    justify-content:end;
    align-items: center;
    flex-direction: column;
    background-color:rgb(247, 244, 244);
    border:1px solid rgb(197, 197, 197);
    border-radius: 0px 30px 20px 10px;
  
}

.input{
width:85%;
height:80px;
border:none;
padding-left:20px;
}


.mensaje{
    width:100%;
    background-color: #fff;
    border-radius: 0px 0px 20px 0px;
}

.envio{
    width:100%;
    height:100%;
    overflow-x:hidden;
   overflow-wrap:break-word;
   scroll-behavior:inherit;
   background-color: rgb(235, 234, 236);
   opacity: 0.6;
   border-radius: 0px 20px 0px 0px;
 
}
.izquierdo::-webkit-scrollbar{
    width:7px;
    background-color:rgb(255, 255, 255);;
}
.izquierdo::-webkit-scrollbar-thumb{
    background: rgb(174, 185, 206);
    border-radius: 10px;
   
}

.envio::-webkit-scrollbar{
    width: 7px;
    background-color: rgb(255, 255, 255);
    border-radius:20px;
    height:90%;
    

}
.envio::-webkit-scrollbar-thumb{
    background: rgb(169, 170, 172);
    border-radius: 10px;
   
}

.h1{
    padding:20px;
    color:rgb(19, 18, 18);
}